################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/EdTro.AzureDevOps.Extensions.querybasedboards/v16/.suo
